html {
  background-image: linear-gradient(to bottom right, #ffb3b3, #212121);
  /* background-size: cover; */
  height: 100%;
}

.container {
  margin: 0 20px;
}

.music-content {
  border: 2px solid black;
  border-radius: 5px;
  text-align: center;
  padding: 20px 0;
}

button {
  border: 2px solid black;
  border-radius: 10px;
  margin: 20px 0;
  padding: 10px;
  font-size: 14px;
  background-color: transparent;
  cursor: pointer;
  transition: all 1s;
}