/* html {
  background: #191414;
  height: 100%;
}

.container {
  margin: 0 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

header {
  margin: 0 20px;
}

header h1 {
  color: white;
} */

/* form style */

/* form {
  color: white;
}

.music-content {
  color: white;
}

label {
  display: inline-block;
  margin-bottom: 10px;
}

input {
  border: 2px solid #1DB954;
  border-radius: 5px;
  font-size: 14px;
  background-color: transparent;
  color: white;
  padding: 5px;
  margin-right: 20px;
  margin-bottom: 20px;
}

textarea {
  border: 2px solid #1DB954;
  border-radius: 5px;
  font-size: 14px;
  background-color: transparent;
  color: white;
  padding: 5px;
  margin-right: 20px;
}

button {
  border: 2px solid #1DB954;
  border-radius: 10px;
  margin: 20px 0;
  padding: 10px;
  font-size: 14px;
  background-color: transparent;
  cursor: pointer;
  transition: all 1s;
  color: white;
  width: 150px;
}

button:hover {
  background-color: #1DB954;
  color: black;
} */

/* music content style */

/* .music-box {
  display: flex;
  width: 100%;
  height: 100%;
}

.music-box:hover {
  background-color: #2e2e2e;
}

.music-info {
  align-self: center;
  text-align: center;
  width: 100%;
}

.music-info p {
  color: rgb(179,179,179);
}

.music-image {
  height: 300px;
  margin: 20px 0 20px 20px;
}

.music-list {
  display: grid;
  grid-template-columns: 50% 50%;
} */
