html {
  background: #191414;
  /* background-size: cover; */
  height: 100%;
}

.container {
  margin: 0 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

header h1 {
  color: white;
}

.music-content {
  border: 2px solid #1DB954;
  border-radius: 5px;
  text-align: center;
  padding: 20px 0;
  color: white;
}

button {
  border: 2px solid #1DB954;
  border-radius: 10px;
  margin: 20px 0;
  padding: 10px;
  font-size: 14px;
  background-color: transparent;
  cursor: pointer;
  transition: all 1s;
  color: white;
  width: 150px;
}

button:hover {
  background-color: #1DB954;
  color: black;
}

.music-box {
  /* border: 1px solid white; */
  margin-bottom: 20px;
  width: 40%;
}

.music-box:hover {
  background-color: #2e2e2e;
}

.music-list {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
}

img {
  padding-top: 20px;
}
